.sticky{
    position:sticky;
    top:0;
    background-color: brown;
    color: aliceblue;
    height:50px;
}

.container1{
    background-color: rgb(52, 165, 42);
    border: 1px solid black;
    display: inline-flex;
    position: relative;
}
.boxes{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}
#a2{
    position: absolute;
    top:20px;
    left:20px;
    background-color: rgb(211, 31, 31);
}

.container2{
    background-color: rgb(52, 165, 42);
    border: 1px solid black;
    display: inline-flex;
}
#r2{
    position: relative;
    left:20px;
    top:20px;
    background-color: rgb(211, 31, 31);
}

.fixed{
    position: fixed;
    right:20px;
    bottom:20px;
    background-color: rgb(0, 30, 255);
    height: 50px;
    width: 50px;

}
.static{
    position:static;
    height:40px;
    background-color: cornflowerblue;
}